<template>
    <div class="con">

    </div>
</template>

<script>
    export default {
        data() {
            return {
                
            }
        },
        methods: {
            
        },
    }
</script>

<style scoped>

.con {
    font-family: 'Chewy', cursive;
    background-image: url("https://images.pexels.com/photos/364308/pexels-photo-364308.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>