<template>
    <div class="con">
        <div class="col-md-4  ">
               <span class="anchor" id="formChangePassword"></span>
               <hr class="mb-5">

               <!-- form card change password -->
               <div class="card card-outline-secondary border-dark">
                   <div class="card-header bg-warning">
                       <h1 class="mb-0">Cambio de contraseña</h1>
                   </div>
                   <div class="card-body bg-dark">
                       <form class="form" role="form" autocomplete="off" @submit.prevent="change()">
                           <div class="form-group">
                               <label class="text-white" for="inputPasswordOld">Contraseña actual</label>
                               <input type="password" class="form-control" id="inputPasswordOld" required="">
                           </div>
                           <div class="form-group">
                               <label class="text-white" for="inputPasswordNew">Nueva contraseña</label>
                               <input type="password" class="form-control" id="inputPasswordNew" required="">
                               <span class="form-text small text-muted">
                                       La contraseña debe tener entre 8 y 20 caracteres y <em>no</em> debe contener espacios.
                                </span>
                           </div>
                           <div class="form-group">
                               <label class="text-white" for="inputPasswordNewVerify">Verificar</label>
                               <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                               <span class="form-text small  text-muted">
                                       Para confirmar, vuelva a escribir la nueva contraseña.
                                </span>
                           </div>
                           <div class="form-group">
                               <button type="submit" class="btn btn-success btn-lg float-right btn-sm"><i class="fas fa-save text-dark mr-1"></i> Guardar</button>
                               <button type="submit" class="btn btn-info btn-lg float-left btn-sm mr-1 "><i class="fas fa-angle-double-left text-dark"></i> <router-link to="login" class=" text-white"> Volver</router-link></button>
                           </div>
                       </form>
                   </div>
               </div>
               <!-- /form card change password -->

           </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                
            }
        },
        methods:{
            change(){
                console.log('cambia');
            }
        }
    }
</script>

<style scoped>

.con {
    font-family: 'Chewy', cursive;
    background-image: url("https://images.pexels.com/photos/364308/pexels-photo-364308.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>