<template>
  <div class=" con text-center align-text-middle " >
    
    <div> 
          <i class="fas fa-compress fa-5x text-black"></i>
          <h1>Play Villavo </h1>
          <h2>Vm LabS</h2>
           <b-button variant="success" @click="login()">Ingresar</b-button>
    </div>
  
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
  name: 'home',
  methods:{
    login(){
      this.$router.replace('/login')
    }
  }

}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Chewy|Coming+Soon|Concert+One|Flavors|Ruge+Boogie|Fredoka+One|Gochi+Hand|Pacifico');
.con {
  background-image: url("https://images.pexels.com/photos/1594932/pexels-photo-1594932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  height:100vh;
  display: flex;
justify-content: center;
align-items: center;
}
h2 {
  font-family: 'Chewy', cursive;
  color: azure;
  font-size: 30px;
  text-align: right;
  -webkit-text-stroke-color: crimson;
  -webkit-text-stroke-width: 1.5px; 
}
i {
-webkit-text-stroke-color: rgb(229, 255, 0);
  -webkit-text-stroke-width: 3px; 
}
h1 {
  font-family: 'Ruge Boogie', cursive;
  color: yellow;
  font-size: 200px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px; 
}

 
</style>
