<template>
    <div class="con">
        <div id="app" class="container-fluid  slider d-flex justify-content-center " >
      <!-- form card login with validation feedback -->
               <div class="card card-outline-secondary border-dark">
                   <div class="card-header bg-warning">
                       <h1 class="mb-0">Iniciar sesión</h1>
                   </div>
                   <div class="card-body bg-dark ">
                       <form class="form" role="form" autocomplete="off" id="loginForm" @submit.prevent="login()" >
                           <div class="text-center">
                               <img src="@/assets/if__facebook_1250011.png" class="pointer " height="70" width="70" @click="siginfacebook()" >  
                               <i class="fas text-white fa-2x fa-angle-up"></i>                         
                               <img src="@/assets/if__google_1249992.png" class="pointer" height="70" width="70"  @click="sigingoogle()">
                           </div>
                           <div class="form-group">
                               <label for="uname1" class="text-white">Usuario</label>
                               <input type="text" class="form-control" name="uname1" id="uname1" required="" @keyup.enter="login" v-model="email">
                               <div class="invalid-feedback">Por favor ingrese su nombre o contraseña</div>
                           </div>
                           <div class="form-group">
                               <label class="text-white">Contraseña</label>
                               <input type="password" class="form-control" id="pwd1" required="" autocomplete="new-password" @keyup.enter="login" v-model="password">
                               <div class="invalid-feedback">Por favor ingrese su contraseña</div>
                           </div>
                           <div class="form-check small mb-1">
                               <label class="form-check-label text-white">
                                   <input type="checkbox" class="form-check-input  "> <span>Recordarme en este equipo</span>
                               </label>
                           </div>
                           <div class="d-flex btn-sm but ">
                                <button type="submit" class="btn btn-success "> <i class="fas fa-check text-dark"></i> Ingresar</button>
                           </div>
                           <div class="mt-5 d-flex">
                                <b-badge pill variant="warning" class="ml-1 mr-1"><router-link to="registro" class="align-left text-dark" >Registro</router-link></b-badge>
                                <b-badge pill variant="warning"><router-link to="Change" class=" text-dark">Cambio de Contraseña</router-link></b-badge>
                           </div>
                            
                       </form>
                         
                   </div>
                   
               </div>
               <!-- /form card login -->

           </div>
           
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import firebase from 'firebase';
import swal from 'sweetalert2'
export default {
    data(){
        return{
            email:'',
            password:'',
        }
    },
    methods:{
        login(){
            if (this.email === '' || this.password === '') {
                swal ( "Algo salio mal !" , "Ingrese todos los datos requeridos" ,  "info" )
            }else {
                firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(() => {
                    var user = firebase.auth().currentUser;
                    console.log(user) 
                    if (user.emailVerified) {
                    this.$router.replace('/login')
                    }
                    else {
                    firebase.auth().signOut()
                    swal('Por favor Debe validar su Cuenta','','info')
                    }
                
                }, (err) => {
                    swal ( "Algo salio mal !" ,  "Ingrese sus valores correctamente"+err.message ,  "error" )
                })
                
                this.email =''
                this.password =''

            }
        
        },
        siginfacebook(){
            if (!firebase.auth().currentUser ) {
                var provider = new firebase.auth.FacebookAuthProvider();
                provider.addScope('public_profile')
                firebase.auth().signInWithPopup(provider).then( () =>{
                    //var token = result.credential.accesstoken
                    //var user = result.user
                }).catch((err) => {
                    var errorcode = err.code                        
                    if (errorcode === 'auth/account-exists-with-different-credential') {
                    swal('El usuario es el mismo')
                    }else {
                    swal('Ooops ' + err.message)
                    }

                })
            }
        },
        sigingoogle(){
            if (!firebase.auth().currentUser ) {
                var provider = new firebase.auth.GoogleAuthProvider();
                provider.addScope('https://www.googleapis.com/auth/plus.login')
                firebase.auth().signInWithPopup(provider).then(() => {
                    // var token = result.credential.accesstoken
                    //var user = result.user
                }).catch((err) => {
                    var errorcode = err.code
                    if (errorcode === 'auth/account-exists-with-different-credential') {
                    swal('El usuario es el mismo')
                    }else {
                    swal('Ooops ' + err.message)
                    }

                })
            }
        },
    }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Chewy|Coming+Soon|Concert+One|Fredoka+One|Gochi+Hand|Pacifico');
.con {
    font-family: 'Chewy', cursive;
    background-image: url("https://images.pexels.com/photos/364308/pexels-photo-364308.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but{
float: right;
}

.pointer {cursor: pointer;}

</style>
