<template>
    <div class="con">
           <div class="col-md-4">
               <span class="anchor" id="formRegister"></span>
               <hr class="mb-5">

               <!-- form card register -->
               <div class="card card-outline-secondary border-dark">
                   <div class="card-header bg-warning">
                       <h1 class="mb-0">Registro</h1>
                   </div>
                   <div class="card-body bg-dark ">
                       <form class="form" role="form" autocomplete="off" @submit.prevent="registro()">

                           <div class="form-group">
                               <label class="text-white" for="inputName">Nombre</label>
                               <input type="text" class="form-control" id="inputName" placeholder="Nombre completo" v-model="nombre">
                           </div>

                           <div class="form-group">
                               <label class="text-white" for="inputEmail3">Email</label>
                               <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required v-model="email">
                           </div>

                           <div class="form-group">
                               <label class="text-white" for="inputPassword3">Contraseña</label>
                               <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña" required="" v-model="password">
                           </div>

                           <div class="form-group">
                               <label class="text-white" for="inputVerify3">Verificación</label>
                               <input type="password" class="form-control" id="inputVerify3" placeholder="Su contraseña de nuevo" required v-model="password2">
                           </div>

                           <div class="g-recaptcha m-2" data-sitekey="6LfruoQUAAAAAIswrk2_RkbbWHd9wQbgp5PzMVr2" required></div>

                           <div class="form-group">
                               <button type="submit" class="btn btn-success btn-lg float-right btn-sm"><i class="fas fa-1x fa-check text-dark mr-1"></i> Registrarse</button>
                               <button type="button" class="btn btn-info btn-lg float-left btn-sm mr-1 "><i class="fas fa-angle-double-left text-dark"></i> <router-link to="login" class=" text-white"> Volver</router-link></button>
                           </div>

                       </form>
                   </div>
               </div>
               <!-- /form card register -->

           </div>
    </div>
</template>

<script>
import swal from 'sweetalert2'
import firebase from 'firebase'
import axios from 'axios'
    export default {
        data(){
            return{
                nombre:'',
                email:'',
                password:'',
                password2:'',
                SECRET_KEY:'6LfruoQUAAAAAIswrk2_RkbbWHd9wQbgp5PzMVr2'
            }
        },
        methods:{
            registro(){
                if (this.nombre === '' || this.email === '' || this.password === '' || this.password2 === '' ) {
                    swal ( "Algo salio mal !" ,  "Por favor ingrese todos los datos requeridos" ,  "error" )
                }
 
                axios.post('http://localhost:3000/inicio/registro', {
                    nombre: this.nombre,
                    email:this.email,
                    password:this.password,
                    captcha : document.querySelector('#g-recaptcha-response').value
                })
                .then((res) => {

                    if(res.data.success === 'false') {
                        swal ( "Algo salio mal !" ,  "Error "+res.data.msg ,  "error" ) 
                    }

                    if(res.data.success === 'true') {  

                        if (this.password === this.password2 ) {
                        firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(() => {
                        swal("Buen Trabajo!", " Por favor Veririfica tu correo ", "success")
                            var user = firebase.auth().currentUser;
                            user.sendEmailVerification().then().catch((error) =>{
                                swal ( "Algo salio mal !" ,  "!" +error.message +"¡" ,  "error" )
                            });

                            this.nombre =''
                            this.email =''
                            this.password =''
                            this.password2 =''
                            this.$router.push('/login')

                        }, (err) => {
                        swal ( "Algo salio mal !" ,  "!" + err.message +"¡" ,  "error" )
                        this.password =''
                        this.password2 =''
                        })

                        }else{
                            swal ( "Algo salio mal !" ,  "Las contraseñas deben coincidir" ,  "error" )
                        }                                  
                    }                    
                })
                .catch(function (error) {
                    swal ( "Algo salio mal !" ,  "!" +error.message +"¡" ,  "error" )
                });
            }
        }
    }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Chewy|Coming+Soon|Concert+One|Fredoka+One|Gochi+Hand|Pacifico');
.con {
    font-family: 'Chewy', cursive;
    background-image: url("https://images.pexels.com/photos/364308/pexels-photo-364308.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>